.App {
  text-align: center;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.delete{
  background-color: red;
}
.update{
  background-color: blue
}
.delete,.update{
  color: white;
  border-style: none;
border-radius: 5px;
padding: 5px;
margin: 5px;
}

